/**
 * @file
 * Custom normalize styles.
 */

// Disable Mozilla's border.
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

// Fix whitespace under image. 
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom;
}
