
.events {
  .event__item {
    border-bottom: dashed 1px $colorMercury;
    padding-bottom: 1.4rem;
    margin-bottom: 1.4rem;
  }
  .event__title {
    margin: 0;
  }
  .event__info {
    font-size: 0.8rem;
  }
  .event__date {
    display: inline-block;
    margin-right: 1.5rem;
    &:before {
      @extend .fa;
      @extend .fa-calendar;
      margin-right: 0.5rem;
    }
  }
  .event__city {
    display: inline-block;
    &:before {
      @extend .fa;
      @extend .fa-globe;
      margin-right: 0.5rem;
    }
  }
  .event__photoreport {
    text-align: right;
    &:before {
      @extend .fa;
      @extend .fa-camera;
      margin-right: 0.5rem;
    }
  }
  .event__go {
    a {
      @include full;
      @extend .button--submit;
      margin-top: 0.5rem;
    }

    .flag-message {
      top: 0;
    }
  }
  .event__place {
    &:before {
      @extend .fa;
      @extend .fa-map-marker;
      margin-right: 0.5rem;
    }
  }
  .event__about {
    margin: 1rem 0;
  }
}

.event {
  .event__left {

  }
  .event__right {
    h2 {
      margin-top: 0;
    }
    .flag-will-go2-event {
      a {
        @extend .button--submit;
      }
      .flag-message {
        top: 2rem;
      }
    }

  }
}