/**
 * @file
 * Extra additional styles. You can remove them if don't need it.
 * Mostly of it, for fixing problems caused by normalize.
 */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

a.tabledrag-handle .handle {
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

div:after,
header:after,
aside:after,
ul:after,
section:after,
article:after,
main:after,
footer:after {
    content: '';
    display: block;
    clear: both;
    float: none;
}

html {
    font-size: 1em;
}

body {
    font-size: 0.875rem;
    line-height: 1.7;
    font-family: Arial, sans-serif;
    padding: 1em;
}

ol, ul {
    margin: 1em 0 1em 1.45em;
    padding: 0;
}

p {
    margin: 1em 0;
}

h1, h2, h3, h4 {
    margin: 0em 0 0.5em;
    font-weight: 500;
    line-height: 1.2;
    color: rgba(0,0,0,.8);
}

h1 {
    margin-top: 0;
    font-size: 2rem;
}

h2 {font-size: 1.714rem;}

h3 {font-size: 1.28rem;}

h4 {font-size: 1.071rem;}

h5 {font-size: 1rem;}

small, .font_small {
    font-size: 0.75em;
}

/* Fix whitespace under image. */
img {
    max-width: 100%;
    height: auto;
    display: block;
    vertical-align: bottom;
}

.toolbar-home:after {
    float: none;
    display: none;
}

#toolbar-home {
    float: left;
}

#toolbar ul:after {
    content: '.';
    float: none;
    display: none;
    clear: none;
}

div#toolbar a#edit-shortcuts {
    position: absolute;
    top: 0;
    right: 0;
}

#admin-menu * {
    -moz-box-sizing: padding-box;
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
}

#admin-menu *:after {
    display: none;
}

