.messages {
  position: relative;
  margin: $message-margin;
  padding: $message-padding-y $message-padding-x;
  border-radius: $message-border-radius;
  border: $message-border-width solid transparent;
  @include message-variant($message-default-bg, $message-default-border, $message-default-color);

  &.error {
    @include message-variant($message-error-bg, $message-error-border, $message-error-color);
  }

  &.status {
    @include message-variant($message-status-bg, $message-status-border, $message-status-color);
  }

  &.warning {
    @include message-variant($message-warning-bg, $message-warning-border, $message-warning-color);
  }
}
