/**
 * @file
 * Styles for system messages.
 */
div.messages {
    border-width: 1px;
    border-style: solid;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    background-position: 20px 50%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    color: rgba(0, 0, 0, 0.66);
    font-weight: bold;
}
div.messages.error {
    background: #EF4836;
    border-color: rgba(0, 0, 0, 0.22);
}
div.messages.status {
    background: none repeat scroll 0% 0% #7AAE91;
    border-color: rgba(0, 0, 0, 0.22);
}
div.messages.warning {
    background: #F5AB35;
    border-color: rgba(0, 0, 0, 0.22);
}

