# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# node.js
**/node-modules

#theme
sites/all/themes/druio_theme/styles/css/maps/*

# Ignore dockerized drupal settings for docker envoirment.
docker-compose.yml
host.yml

# JetBrains PHPstorm and other settings.
.idea
