<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-left">
        <p>© Dru.io — Drupal сообщество с открытым исходным кодом,
          распространяющимся под лицензией GPL v2.<br>
          Содержимое сайта распространяется под лицензией
          <a href="//creativecommons.org/licenses/by-sa/3.0/" rel="nofollow">
          Creative Commons Share Alike 3.0</a>.
        </p>
        <p>Drupal — зарегистрированная торговая марка, принадлежит
          <a href="//buytaert.net/" rel="nofollow">Dries Buytaert</a>.
        </p>
        <ul class="social">
          <li><a href="https://www.facebook.com/druio" target="_blank"
            rel="nofollow" class="item"><i class="fa fa-facebook"></i></a></li>
          <li><a href="https://vk.com/druio" target="_blank"
            rel="nofollow" class="item"><i class="fa fa-vk"></i></a></li>
          <li><a href="https://twitter.com/dru_io" target="_blank"
            rel="nofollow" class="item"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
