{%
  set link = 'https://www.synapse-studio.ru/usluga/web?utm_source=client'
%}
<div class="synapse">
  <span class="synapse-copy" title="Создание и продвижение сайтов">
    <img class="synapse-logo" width="79px" height="24px" alt="Синапс"
      {% if not footer_wight %}
        src="/themes/adaptive/images/synapse-footer.svg"
      {% else %}
        src="/themes/adaptive/images/synapse-footer-w.svg"
      {% endif %}
    /> — <a href="{{link}}" target="_blank" class="synapse-link">Создание сайта</a>
  </span>
</div>
