form div.buttons {
  text-align:center;
}
.fieldset-description {
  font-size:16px;
  padding:10px;
}
tr.config-delete {
  background-color:#efefef !important;
}
tr.config-dependent {
  background-color:#DCF5F1 !important;
}
tr.config-dependent.even {
  background-color:#F2FAF9 !important;
}
tr.config-delete td {
  color:#aaa;
  font-style:italic;
}
