/**
 * @file
 * Variables.
 */

// Typography variables.
$baseHeaderSize: 30px;
$baseFontSize: 14px;
$baseFontFamily: Arial, sans-serif;
$baseLineHeight: 1.4;
$baseFontColor: #111;

// Color-schemes.
// Links.
$linkColor: #4a90d9;
$linkColorHover: #276ea3;
$linkColorVisited: #9B59B6;
$linkDecoration: false;
