/**
 * @file
 * In this file stored global variables. You can adjast values on your needs.
 */

/**
 * Sizes.
 */
$site-width: 1100px !default;
// Media sizes.
$xs-media: max-width 768px;
$sm-media: 768px;
$md-media: 992px;
$lg-media: min-width 1200px;

/**
 * Colors presets.
 */
$gray-base:    #000;
$gray-darken:  lighten($gray-base, 13.5%);
$gray-dark:    lighten($gray-base, 20%);
$gray:         lighten($gray-base, 33.5%);
$gray-light:   lighten($gray-base, 46.7%);
$gray-lighter: lighten($gray-base, 93.5%);

$brand-main: #f44336;
$brand-border-color: #E8E8E8;

/**
 * Branding.
 */
$brand-primary: #337ab7;
$brand-success: #5cb85c !default;
$brand-info:    #5bc0de !default;
$brand-warning: #f0ad4e !default;
$brand-danger:  #d9534f !default;

$body-bg:    white;
$text-color: $gray-light;

// Links
$link-color:            #4a90d9;
$link-hover-color:      #276ea3;
$link-hover-decoration: none;

$selection-bg:    $gray-lighter;
$selection-color: inherit;

/**
 * Typography.
 */
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;

$font-size-base:  16px;
$font-size-large: ceil($font-size-base * 1.25);
$font-size-small: ceil($font-size-base * 0.85);

$font-size-h1: floor($font-size-base * 2.6);
$font-size-h2: floor($font-size-base * 2.15);
$font-size-h3: ceil($font-size-base * 1.7);
$font-size-h4: ceil($font-size-base * 1.25);
$font-size-h5: $font-size-base;
$font-size-h6: ceil($font-size-base * 0.85);

// Unit-less cuz used in buttons, inputs, etc.
$line-height-base:     1.428571429;
$line-height-computed: floor($line-height-base * $font-size-base);
// Used in compontents.
$line-height-large: 1.3333333;
$line-height-small: 1.5;

// Headers default settings.
$headings-font-family:    inherit !default;
$headings-font-weight:    500 !default;
$headings-line-height:    1.1 !default;
$headings-color:          inherit !default;

// <mark> tag.
$mark-bg: #DFF0D8;

// Blockqoutes.
$blockquote-font-size:    ($font-size-base * 1.25) !default;
$blockquote-border-color: $gray-lighter !default;

// <hr> tag.
$hr-border: $gray-lighter !default;

/**
 * Messages colors.
 */
$message-error-bg:     #F2DEDE;
$message-error-border: #EBCCD1;
$message-error-color:  #A94442;

$message-status-bg:     #DFF0D8;
$message-status-border: #D6E9C6;
$message-status-color:  #3C763D;

$message-warning-bg:     #FCF8E3;
$message-warning-border: #FAEBCC;
$message-warning-color:  #8A6D3B;

/**
 * Components.
 */
// Paddings.
$padding-base-vertical:   6px !default;
$padding-base-horizontal: 12px !default;

$padding-large-vertical:   10px !default;
$padding-large-horizontal: 16px !default;

$padding-small-vertical:   5px !default;
$padding-small-horizontal: 10px !default;

$padding-xs-vertical:   1px !default;
$padding-xs-horizontal: 5px !default;

// Border radius.
$border-radius-small: 3px !default;
$border-radius-base:  4px !default;
$border-radius-large: 6px !default;

/**
 * Forms.
 */
$form-item-padding: 10px !default;

$input-height-base:  $line-height-computed + ($padding-base-vertical * 2) + 2 !default;
$input-height-large: ceil($font-size-large * $line-height-large) + ($padding-large-vertical * 2) + 2 !default;
$input-height-small: floor($font-size-small * $line-height-small) + ($padding-small-vertical * 2) + 2 !default;

// Input default state.
$input-bg:           white;
$input-border-color: #999 #b8b8b8 #b8b8b8 #b8b8b8;
$input-box-shadow:   inset 0 1px 1px rgba(black, .1);
// input:focus
$input-bg-focus:           white;
$input-border-color-focus: #2780f8;
$input-box-shadow-focus:   $input-box-shadow, 0 0px 7px rgba(#2780f8, .15);
// input:disabled
$input-cursor-disabled: not-allowed;
$input-bg-disabled:     rgb(250, 250, 250);
$input-color-disabled:  rgba(163, 163, 163, 1);

// Select default state.
$select-box-shadow:   none;
$select-border-color: $input-border-color;
// select:focus
$select-border-color-focus: $input-border-color-focus;
$select-box-shadow-focus:   $input-box-shadow-focus;

/**
 * Buttons.
 */
$btn-font-weight: normal !default;

$btn-default-color:  #333 !default;
$btn-default-bg:     #fff !default;
$btn-default-border: #ccc !default;

$btn-primary-color:  #fff !default;
$btn-primary-bg:     $brand-primary !default;
$btn-primary-border: darken($btn-primary-bg, 5%) !default;

$btn-success-color:  #fff !default;
$btn-success-bg:     $brand-success !default;
$btn-success-border: darken($btn-success-bg, 5%) !default;

$btn-warning-color:  #fff !default;
$btn-warning-bg:     $brand-warning !default;
$btn-warning-border: darken($btn-warning-bg, 5%) !default;

$btn-danger-color:  #fff !default;
$btn-danger-bg:     $brand-danger !default;
$btn-danger-border: darken($btn-danger-bg, 5%) !default;

$btn-info-color:  #fff !default;
$btn-info-bg:     $brand-info !default;
$btn-info-border: darken($btn-info-bg, 5%) !default;

/**
 * Breadcrumbs.
 */
$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 15px !default;
$breadcrumb-margin-bottom:      15px !default;
$breadcrumb-bg:                 #f5f5f5 !default;
$breadcrumb-color:              #777 !default;
$breadcrumb-delimiter-color:    #ccc !default;

/**
 * Contextual links.
 */
$contextual-links-bg:            white;
$contextual-links-border:        1px solid #ddd;
$contextual-links-border-radius: 4px 0 4px 4px;
$contextual-links-hover-bg:      #f2f2f2;
$contextual-links-color:         inherit;
$contextual-links-box-shadow:    0 5px 10px 0 rgba(black, .2);

/**
 * Vertical tabs.
 */
$vertical-tabs-bg:                    white;
$vertical-tabs-list-bg:               #fbfaf8;
$vertical-tabs-button-color:          #555459;
$vertical-tabs-button-color-selected: white;
$vertical-tabs-button-bg-selected:    #439fe0;
$vertical-tabs-button-text-shadow:    0 1px 0 rgba(0,0,0,.1);
$vertical-tabs-list-border:           1px solid #DDD;

