/**
 * Styles for Old PC.
 */

$oldPc: 62.938rem 75rem;

@include breakpoint($oldPc) {
  #header {
    .header__wrapper {
      @include container(62.938rem);
    }

    .header__logo {
      height: pxToRem(92px);
    }
  }

  #header-profile {
    .header-profile__auth {
      height: 2.5rem;
      .label {
        display: none;
      }
    }
  }

  .header__firstline {
    @include layout(20 0);
    #site-search {
      @include span(6);
    }
    #header-links {
      @include span(12);
    }
    #header-profile {
      @include span(2 last);
    }
  }

  #navigation {
    .menu {
      height: pxToRem(52px);
      li {
        a {
          line-height: pxToRem(52px);
        }
      }
    }
  }

  #main {
    @include container(62.938rem);
    padding: 1rem;
  }

  #frontpage-top {
    width: 62.938rem;
    height: auto;
    left: -1rem;
    top: -1rem;

    .left {
      @include span(12);
    }
    .right {
      @include span(8 last);
    }
  }

  .post {
    .post__footer {
      @include layout(50 1);
      .rate-widget {
        @include span(6);
      }
      .comment-count {
        @include span(4);
      }
      .date {
        @include span(12);
      }
      .avatar-and-author {
        @include span(15);
      }
    }
  }
}