/**
 * @file
 * Mixins which can help you.
 */

/**
 * Remove default styles from <ul> and <ol> tags.
 */
@mixin list-unstyled {
  margin: 0;
  padding: 0;
  list-style: none;
}

/**
 * Clearfix.
 */
@mixin clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}
