.comment--question-answer.comment--node--question {
  .answer {
    display: flex;

    > .left {
      flex: 0 0 50px;
      margin-right: gap(2);
    }

    > .content {
      flex: 0 1 calc(100% - 50px - #{gap(2)});

      .bottom {
        margin-top: gap(2);
        display: flex;

        .links {
          flex: 1 1 auto;
          @include list-unstyled;
          display: flex;
          margin-right: gap(2);
          font-size: 90%;

          li {
            &:not(:last-child) {
              margin-right: gap();
            }

            a {
              @extend %link-dimmed-dark;
            }

            $icons: (
              'delete': 'delete',
              'edit': 'pencil',
              'reply': 'comment-processing-outline',
            );

            @each $class, $icon in $icons {
              &.comment-#{$class} {
                a {
                  @include mdi-icon($icon);
                }
              }
            }
          }
        }

        .date-and-author {
          flex: 0 1 200px;

          .druio-author-min {
            margin-bottom: gap();
          }

          .created {
            color: gray('700');
            font-size: 80%;
          }
        }
      }

      .comments {
        border-top: 1px solid gray('200');
        padding-top: gap(2);
        margin-top: gap(2);

        .comment {
          margin-bottom: gap();
          padding-bottom: gap();
          border-bottom: 1px solid gray('200');

          &:last-child {
            border: none;
            margin: 0;
          }
        }

        .add-comment {
          @extend %link-with-border-on-hover-dark;
        }
      }
    }
  }
}