/*** Paddings */

.height-0 {min-height: 0px}

.padding-top-20 {padding-top: 20px;}
.padding-top-30 {padding-top: 30px;}
.padding-top-40 {padding-top: 40px;}
.padding-top-50 {padding-top: 50px;}
.padding-top-60 {padding-top: 60px;}
.padding-top-70 {padding-top: 70px;}

.padding-bottom-20 {padding-bottom: 20px;}
.padding-bottom-30 {padding-bottom: 30px;}
.padding-bottom-40 {padding-bottom: 40px;}
.padding-bottom-50 {padding-bottom: 50px;}
.padding-bottom-60 {padding-bottom: 60px;}
.padding-bottom-70 {padding-bottom: 70px;}
