$dialog-overlay-background: black !default;
$dialog-overlay-opacity: .25 !default;

$dialog-enable-shadows:    true !default;
$dialog-box-shadow: 0 0 0 2px rgba(black, .15) !default;
$dialog-border-radius: 0 !default;
$dialog-padding: 0 !default;
$dialog-border: 1px solid #c1c1c1 !default;
$dialog-color: $text-color !default;
$dialog-background: white !default;

$dialog-header-background: gray('100') !default;
$dialog-header-color: $text-color !default;
$dialog-header-padding: 8px 16px !default;
$dialog-header-border-only-bottom: true !default;
$dialog-header-border: 1px solid #c1c1c1 !default;

$dialog-title-color: #333 !default;
$dialog-title-weight: bold !default;
$dialog-title-size: $font-size-base !default;

$dialog-content-padding: 16px !default;

$dialog-buttonpane-background: gray('100') !default;
$dialog-buttonpane-border-only-top: true !default;
$dialog-buttonpane-border: 1px solid #c1c1c1 !default;
$dialog-buttonpane-padding: 8px 16px !default;
$dialog-buttonpane-buttons-align-right: true !default;