/**
 * Synapse - adaptive theme
 */

header {
  background: #f3f3f3;
}
.nav {
  a {
    text-decoration: none;
    color: #6f6f6f;
  }
}
@import "header/header-full";
@import "header/header-small";
@import "header/menu-main";
@import "header/menu-small";
@import "header/togglers";
