/**
 * @file
 * Main styles. Here must be you stylesheet.
 * Use it well.
 */
body {
  background: url('../../images/bg.png') repeat;
}

.divider {
  width: 100%;
  clear: both;
}

#header {
  font-size: 0.875rem;
  background: $headerBackground;
  box-shadow: inset 0 2.5rem 0 0 rgba(0, 0, 0, 0.5);

  .header__wrapper {
    @include container($siteWidth);
  }
}

.header__logo {
  @include span(3 of 20 no-gutters);
  height: 6.875rem;
  //background: #7fcc20 url('../../images/site-name-druplicon.png') center center no-repeat;

  a {
    display: block;
    text-align: center;
    line-height: 6.875rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}

.header__content {
  @include span(17 of 20 no-gutters);

  .header__firstline {
    @include container(nest);
  }
}

#site-search {
  position: relative;
  @include span(3 of 10 no-gutters);

  .form-search {
    height: 2.5rem;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border: none;
    color: white;
    padding-left: 2.5rem;
    width: 100%;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  &:before {
    @extend .fa;
    @extend .fa-search;
    color: #D2D2D2;
    position: absolute;
    line-height: 2.5rem;
    left: 1rem;
  }
}

#header-links {
  @include span(5 of 10 no-gutter);
  position: relative;
  color: #cccccc;
  line-height: 2.5rem;
  padding: 0 1rem;

  .header__tracker {
    @include span(1 of 3 first no-gutter);

    a {
      color: #CCC;
    }

    &:before {
      @extend .fa;
      @extend .fa-bullhorn;
      color: white;
      margin-right: .25rem;
    }

    &.new {
      &:after {
        content: attr(data-new-count);
        display: block;
        position: absolute;
        top: 4px;
        left: 5.5rem;
        line-height: 1;
        background: grey;
        padding: 0.1rem 0.2rem;
        border-radius: 2px;
        font-size: 0.7rem;
        color: #1b263b;
      }
    }
  }

  .header__github {
    @include span(1 of 3 first no-gutter);
    display: block;
    color: #cccccc;

    &:before {
      @extend .fa;
      @extend .fa-github;
      margin-right: 0.25rem;
    }
  }
}

#header-profile {
  @include span(2 of 10 last);
  position: relative;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);

  .header-profile__picture {
    position: absolute;
    width: 2.5rem;
  }

  .header-profile__auth {
    position: relative;
    margin-left: 3rem;
    line-height: 2.5rem;
    display: block;
    color: #D2D2D2;

    span {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 0 .75rem;

      &:before {
        @extend .fa;
        @extend .fa-sign-in;
      }
    }
  }

  .header-profile__profile {
    @extend .header-profile__auth;
  }

  .header-profile__logout {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 .75rem;
    z-index: 1;
    line-height: 2.5rem;
    color: #D2D2D2;

    &:before {
      @extend .fa;
      @extend .fa-sign-out;
    }
  }
}

#navigation {
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 4.375rem;

    li {
      float: left;

      a {
        display: block;
        line-height: 4.375rem;
        color: white;
        padding: 0 .75rem;
        font-size: 1.1rem;
        transition: all .2s ease-out;
        &:hover {
          background-color: lighten($headerBackground, 10%);
        }
      }
    }
  }
}

#main {
  @include container($siteWidth);
  padding: 2rem 2.5rem;
  background: #ffffff;
}

#content {
  @include span(15 of 20);
  position: relative;
}

#sidebar-right {
  @include span(5 of 20 last);

  .block {
    .title {
      position: relative;
      border-top: 3px solid $colorShamrock;
      border-bottom: 3px solid $colorMercury;
      @include fontSize(18px);
      padding: 5px 0;
      font-weight: normal;

      &:after {
        display: block;
        content: '';
        width: pxToRem(15px);
        height: pxToRem(15px);
        background: white;
        transform: rotate(45deg);
        border: 3px solid $colorMercury;
        border-top: none;
        border-left: none;
        position: absolute;
        bottom: pxToRem(-10px);
        left: pxToRem(10px);
      }
    }
  }
}

#page-title {
  margin-top: 0;
}

.breadcrumb {
  font-size: 0.875rem;
  padding: 0.5rem 0;
  color: #969696;

  .first {
    &:before {
      @extend .fa;
      @extend .fa-home;
      margin-right: .25rem;
    }
  }

  a {
    color: #969696;
  }
}

/**
 * Question node.
 */
.question {
  // Full view
  &.full {
    @include full;

    .question__left {
      @include span(2 of 20);

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: $colorShamrock;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: $colorPomegranate;
          }
        }

        .rate-plus,
        .rate-minus {
          color: $colorMercury;
          font-size: 2.5rem;

          &.disabled:hover {
            color: $colorMercury;
          }
        }
      }
    }

    .question__right {
      @include prefix(.5rem);
      @include span(18 of 20 last);

      .author-and-date {
        .username {
          font-weight: bold;
          font-size: 1rem;
        }

        .created {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }

      .drupal-version {
        &:before {
          @extend .fa;
          @extend .fa-drupal;
          margin-right: 0.6rem;
        }
      }

      .projects {
        &:before {
          @extend .fa;
          @extend .fa-cube;
          margin-right: pxToRem(4px);
        }
      }

      .category {
        &:before {
          @extend .fa;
          @extend .fa-tags;
          margin-right: 0.5rem;
        }
      }
    }

    .question__bottom {
      @include full();
      margin-top: 1rem;
      border-top: 1px solid $colorGallery;
    }

    .links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin-right: .5rem;

        a {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }
    }
  }

  &.teaser {
    @include full;
    margin-bottom: pxToRem(10px);
    padding-bottom: pxToRem(10px);
    border-bottom: 1px solid $colorGallery;

    .question__left {
      @include span(2 of 30);

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }
    }

    .question__right {
      @include prefix(.5rem);
      @include span(28 of 30 last);

      h2 {
        margin: 0 0 pxToRem(10px) 0;
        font-weight: normal;
        @include fontSize(17px);

        a {
          color: $baseFontColor;

          &:before {
            @extend .fa;
            @extend .fa-question-circle;
            margin-right: .5rem;
          }
        }
      }
    }

    .question__bottom {
      @include prefix(.5rem);
      @include span(28 of 30 last);
      @include fontSize(14px);

      .question__info {
        display: inline-block;
        padding: 0 0.8rem 0 0;
        &:before {
          @extend .fa;
          margin-right: .25rem;
        }

        a {
          color: $colorBoulder;
        }
      }

      .answers {
        &:before {
          @extend .fa-comments-o;
        }
      }

      .vote {
        &:before {
          @extend .fa-thumbs-o-up;
        }
        div {
          display: inline;
        }
      }
      .drupal {
        &:before {
          @extend .fa-drupal;
        }
        a:after {
          content: ", ";
        }
        a:last-child:after {
          content: "";
        }
      }
      .term {
        &:before {
          @extend .fa-tags;
        }
        a:after {
          content: ", ";
        }
        a:last-child:after {
          content: "";
        }
      }
      .project {
        &:before {
          @extend .fa-cube;
        }
      }
    }
  }

}

/**
 * Answer node.
 */
.answer {
  // Teaser view
  &.teaser,
  &.full {
    @include full();
    border-bottom: 1px solid $colorGallery;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    .answer__left {
      @include span(2 of 20);

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: $colorShamrock;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: $colorPomegranate;
          }
        }

        .rate-plus,
        .rate-minus {
          color: $colorMercury;
          font-size: 2.5rem;

          &.disabled:hover {
            color: $colorMercury;
          }
        }
      }

      .flag-best-answer {
        text-align: center;
        font-size: 2.5rem;

        .flag-action {
          @extend .fa;
          @extend .fa-check;
          color: $colorMercury;

          &:hover {
            color: $colorShamrock;
          }
        }

        .unflag-action {
          @extend .fa;
          @extend .fa-check;
          color: $colorShamrock;

          &:hover {
            color: $colorMercury;
          }
        }
      }

      .best-answer {
        @extend .fa;
        @extend .fa-check;
        color: $colorShamrock;
        text-align: center;
        font-size: 2.5rem;
        width: 100%; // firefox bug
      }
    }

    .answer__right {
      @include prefix(.5rem);
      @include span(18 of 20 last);

      .author-and-date {
        .username {
          font-weight: bold;
          font-size: 1rem;
        }

        .created {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }
    }

    .links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin-right: .5rem;

        a {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }
    }
  }
}

/**
 * Light comment style.
 */
.comment-light {
  @include full();
  border-top: 1px solid $colorGallery;
  padding-top: 1rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;

  .comment__left {
    @include span(1 of 20);

    .avatar {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .comment__right {
    @include prefix(.25rem);
    @include span(19 of 20 last);

    .author-and-date {
      .username {
        font-weight: bold;
        font-size: 0.875rem !important;
      }

      .created {
        color: $colorBoulder;
        @include fontSize(14px);
      }
    }
  }

  .links {
    margin: 0;
    padding: 0;
    list-style: none;
    @include fontSize(12px);

    li {
      float: left;
      margin-right: .5rem;

      a {
        color: $colorBoulder;
      }
    }
  }
}

/* Publications views */
.post {
  .post__footer {
    @include layout(50 1);
    @include susy-clearfix;
    background: rgb(249, 249, 249);
    padding: 5px;
    border-radius: 2px;

    .rate-widget {
      @include span(6);

      .rate {
        background: $colorGallery;
        color: $colorBoulder;
        display: inline-block;
        padding: pxToRem(5px);
        border-radius: 2px;
        @extend .fa;
        @include fontSize(14px);

        &--minus {
          @extend .fa-arrow-down;

          &:hover:not(.disabled),
          &.voted {
            background: $colorPomegranate;
            color: white;
          }
        }

        &--plus {
          @extend .fa-arrow-up;

          &:hover:not(.disabled),
          &.voted {
            background: $colorShamrock;
            color: white;
          }
        }
      }

      .rate-result {
        display: inline-block;
        padding: 0 pxToRem(7px);
        font-weight: bold;

        &.good {
          color: $colorShamrock;
        }

        &.bad {
          color: $colorPomegranate;
        }
      }
    }

    .comment-count {
      @include span(3);
      color: $colorBoulder;
      @include fontSize(14px);
      line-height: pxToRem(24px);

      &:before {
        @extend .fa;
        @extend .fa-comments-o;
        margin-right: pxToRem(5px);
      }
    }

    .date {
      @include span(9);
      color: $colorBoulder;
      @include fontSize(14px);
      line-height: pxToRem(24px);

      &:before {
        @extend .fa;
        @extend .fa-calendar;
        margin-right: pxToRem(5px);
      }
    }

    .avatar-and-author {
      @include span(10);

      .avatar {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        height: pxToRem(24px);
        width: pxToRem(24px);
        border-radius: 50%;
      }

      .author {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        @include fontSize(14px);
      }
    }
  }
}

.post.teaser {
  .post__content {
    .title {
      @include fontSize(24px);
    }
  }
}

.projects {
  @include layout(2 1/20);
  @include susy-clearfix;

  .project {
    @include span(1);

    &:nth-child(2n) {
      @include last;
    }
  }
}

.project.teaser {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: pxToRem(10px);
  padding: pxToRem(10px);

  .title {
    @include fontSize(16px);
    margin: 0 0 pxToRem(10px) 0;
  }

  .type,
  .dev-status,
  .maintenance-status,
  .version {
    @include fontSize(12px);

    &:before {
      @extend .fa;
      margin-right: pxToRem(5px);
    }
  }

  .type {
    &:before {
      @extend .fa-cubes;
    }
  }

  .dev-status {
    &:before {
      @extend .fa-keyboard-o;
    }
  }

  .maintenance-status {
    &:before {
      @extend .fa-life-ring;
    }
  }

  .version {
    &:before {
      @extend .fa-drupal;
    }
  }
}

#footer {
  background-color: $colorLightGrey;
  font-size: 0.875rem;
  padding: 1rem;
  @include container($siteWidth);
}

#frontpage-search {
  background: url('../../images/frontpage-search-bg.png') no-repeat center center;
  width: pxToRem(1200px);
  height: pxToRem(400px);
  position: relative;
  left: -2.5rem;
  top: -2rem;

  .dark-layer {
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .search-form {
    position: relative;
    z-index: 1;
    top: 50%;
    margin: 0px auto;
    display: table;
    
    .search-input {
      background: #ffffff;
    }
  }
}