/*** Images */

.img-adaptive img,
img.adaptive {
  width: 100%;
  height: auto;
}
/** Редактирование изображений */
form.node-image-form {
  .image-preview {
    float: left;
    padding-right: 15px;
  }
  .image-widget-data {
    overflow: hidden;
    padding-bottom: 2px;
    .form-type-textfield {
      margin-top: 0;
    }
  }
}
