// Adaptive & bootstrap fixes  theme
.kint footer {
  min-height: 0;
}
/** Helpers */
.element-hidden,
.hidden {
  display: none;
}
.gray {
  background-color: #eceeef;
}
@import "images";
@import "paddings";
@import "navigation";
@import "modals"; /** Select fix */
select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 6px);
  details & {
    height: 1.2rem;
    width: 80%;
  }
}
a.tabledrag-handle {
  .handle {
    width: 22px;
    height: 22px;
  }
}
.container-inline {
  .form-no-label {
    display: inline-block;
    width: 45%;
  }
  input {
    box-sizing: border-box;
  }
}
