/**
Synapse - adaptive theme
.col-xs- <544px Extra small
.col-sm- ≥544px Small
.col-md- ≥768px Medium
.col-lg- ≥992px Large
.col-xl- ≥1200px Extra large
Gutter width	1.875rem / 30px (15px on each side of a column)
*/
/** editor */
span.file {
  height: auto;
}
.form-type-checkbox .description,
.form-type-radio .description {
  margin-left: 0;
}
.details-wrapper .form-control {
  display: inline;
  width: auto;
}
a.tabledrag-handle .handle {
  height: 22px;
  width: 22px;
}
td.checkbox,
th.checkbox {
  position: static;
  margin: 0;
  display: table-cell;
}
#edit-body-0-format {
  display: none;
}
/** Form-inline fix select */
.form--inline .form-item select {
  padding: 0.485rem 0.75rem;
}
/** Fix admin menu*/
@media (max-width: 980px) {
  #toolbar-administration {
    display: none !important;
  }
  html body.toolbar-tray-open {
    margin-top: 0 !important;
    margin-left: 0 !important;
    padding-top: 0 !important;
    padding-left: 0 !important;
  }
}
