.node--question.view-mode--teaser {
  display: flex;
  position: relative;

  &::before {
    content: '';
    box-shadow: 0 0 0 transparent;
    position: absolute;
    z-index: -1;
    top: -20px;
    right: -20px;
    bottom: -20px;
    left: -20px;
    background: white;
    display: block;
    transition: box-shadow .25s ease;
  }

  > .rating {
    flex: 0 0 60px;
    height: 60px;
    margin-right: 10px;
    align-self: flex-start;
    border: 2px solid gray('200');
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
    -moz-user-select: none;
    user-select: none;
    color: gray('700');

    .count {
      font-size: 20px;
    }

    .value {
      font-size: 10px;
    }
  }

  > .answers {
    flex: 0 0 60px;
    height: 60px;
    align-self: flex-start;
    border: 2px solid theme-color('primary');
    text-align: center;
    margin-right: gap(4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    -moz-user-select: none;
    user-select: none;
    color: gray('700');

    .count {
      font-size: 20px;
    }

    .value {
      font-size: 10px;
    }
  }

  .content {
    flex: 1 1 auto;

    .title {
      margin-top: 0;
      font-size: $font-size-base;
      margin-bottom: gap(2);
      word-break: break-all;

      a {
        @extend %link-with-border-on-hover-dark;
      }
    }

    .info {
      display: flex;
      flex-flow: wrap;

      .meta {
        flex: 0 1 calc(60% - #{gap(2)});
        margin-right: gap(2);
      }

      .author-and-date {
        flex: 0 1 40%;
        align-self: flex-end;
        display: flex;

        .druio-author-min {
          flex: 0 1 50%;
          margin-right: gap();

          .link {
            font-size: 11px;

            .avatar {
              height: 17px;
              width: 17px;
            }
          }
        }

        .created {
          color: gray('700');
          font-size: 80%;
        }
      }
    }
  }

  &:hover {
    .rating,
    .answers,
    .content {
      position: relative;
      z-index: 2;
    }

    &::before {
      display: block;
      box-shadow: 0 3px 17px rgba(black, .2);
      transition: box-shadow .25s ease;
      z-index: 1;
    }
  }
}

.node--question.view-mode--full {
  .question {
    display: flex;
    margin-bottom: gap(4);

    > .left {
      flex: 0 0 50px;
      margin-right: gap(2);
    }

    > .content {
      flex: 0 1 calc(100% - 50px - #{gap(2)});

      .bottom {
        margin-top: gap(2);
        display: flex;
        margin-bottom: gap(2);

        .meta-and-links {
          flex: 1 1 auto;
          margin-right: gap(2);

          .druio-question-meta-field {
            margin-bottom: gap();
          }

          .links {
            @include list-unstyled;
            display: flex;

            li {
              &:not(:last-child) {
                margin-right: gap();
              }

              a {
                @extend %link-dimmed-dark;
              }

              $icons: (
                'comment-add': 'comment-processing-outline',
                'answer-add': 'reply',
              );

              @each $class, $icon in $icons {
                &.#{$class} {
                  a {
                    @include mdi-icon($icon);
                  }
                }
              }
            }
          }
        }

        .date-and-author {
          flex: 0 1 200px;

          .druio-author-min {
            margin-bottom: gap();
          }

          .created {
            color: gray('700');
            font-size: 80%;
          }
        }
      }

      .comments {
        border-top: 1px solid gray('200');
        padding-top: gap(2);

        .comment {
          margin-bottom: gap();
          padding-bottom: gap();
          border-bottom: 1px solid gray('200');

          &:last-child {
            border: none;
            margin: 0;
          }
        }

        .add-comment {
          @extend %link-with-border-on-hover-dark;
        }
      }
    }
  }

  .answers {
    > .title {
      margin-top: 0;
      border-bottom: 1px solid gray('200');
      margin-bottom: gap(2);
      padding-bottom: gap(2);
    }

    > .comment {
      border-bottom: 1px solid gray('200');
      padding-bottom: gap(2);
      margin-bottom: gap(2);

      &:last-child {
        border-bottom: 0;
      }
    }
  }
}