/**
 * @file
 * Main styles. Here must be you stylesheet.
 * Use it well.
 */
body {
  background: url('../../images/bg.png') repeat;
}

#header {
  font-size: 0.875rem;
  background: #374c77;
  box-shadow: inset 0 2.5rem 0 0 rgba(0, 0, 0, 0.5);

  .header__wrapper {
    @include container($siteWidth);
    padding: 0 2.5rem;
  }
}

.header__logo {
  @include span(3 of 20 no-gutters);
  height: 6.875rem;
  background: #7fcc20 url('../../images/site-name-druplicon.png') center center no-repeat;

  a {
    display: block;
    text-align: center;
    line-height: 6.875rem;
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
}

.header__content {
  @include span(17 of 20 no-gutters);

  .header__firstline {
    @include container(nest);
  }
}

#site-search {
  position: relative;
  @include span(3 of 10 no-gutters);

  .form-search {
    height: 2.5rem;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border: none;
    color: white;
    padding-left: 2.5rem;
    width: 100%;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  &:before {
    @extend .fa;
    @extend .fa-search;
    color: #D2D2D2;
    position: absolute;
    line-height: 2.5rem;
    left: 1rem;
  }
}

#header-links {
  @include span(5 of 10 no-gutter);
  position: relative;
  color: #cccccc;
  line-height: 2.5rem;
  padding: 0 1rem;

  .header__tracker {
    @include span(1 of 3 first no-gutter);

    a {
      color: #CCC;
    }

    &:before {
      @extend .fa;
      @extend .fa-bullhorn;
      color: white;
      margin-right: .25rem;
    }

    &.new {
      &:after {
        content: attr(data-new-count);
        display: block;
        position: absolute;
        top: 4px;
        left: 5.5rem;
        line-height: 1;
        background: grey;
        padding: 0.1rem 0.2rem;
        border-radius: 2px;
        font-size: 0.7rem;
        color: #1b263b;
      }
    }
  }

  .header__github {
    @include span(1 of 3 first no-gutter);
    display: block;
    color: #cccccc;

    &:before {
      @extend .fa;
      @extend .fa-github;
      margin-right: 0.25rem;
    }
  }
}

#header-profile {
  @include span(2 of 10 last);
  position: relative;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);

  .header-profile__picture {
    position: absolute;
    width: 2.5rem;
  }

  .header-profile__auth {
    position: relative;
    margin-left: 3rem;
    line-height: 2.5rem;
    display: block;
    color: #D2D2D2;

    span {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 0 .75rem;

      &:before {
        @extend .fa;
        @extend .fa-sign-in;
      }
    }
  }

  .header-profile__profile {
    @extend .header-profile__auth;
  }

  .header-profile__logout {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 .75rem;
    z-index: 1;
    line-height: 2.5rem;
    color: #D2D2D2;

    &:before {
      @extend .fa;
      @extend .fa-sign-out;
    }
  }
}

#navigation {
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 4.375rem;

    li {
      float: left;

      a {
        display: block;
        line-height: 4.375rem;
        color: white;
        padding: 0 .75rem;
        font-size: 1.1rem;
      }
    }
  }
}

#main {
  @include container($siteWidth);
  padding: 0 2.5rem;
  background: #ffffff;
}

#content {
  @include span(15 of 20);
}

#sidebar-right {
  @include span(5 of 20 last);
}

#page-title {
  margin-top: 0;
}

.breadcrumb {
  font-size: 0.875rem;
  padding: 0.5rem 0;
  color: #969696;

  .first {
    &:before {
      @extend .fa;
      @extend .fa-home;
      margin-right: .25rem;
    }
  }

  a {
    color: #969696;
  }
}

/**
 * Question node.
 */
.question {
  // Full view
  &.full {
    @include full;

    .question__left {
      @include span(2 of 20);

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: #2ECC71;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: #F22613;
          }
        }

        .rate-plus,
        .rate-minus {
          color: #E2E2E2;
          font-size: 2.5rem;

          &.disabled:hover {
            color: #E2E2E2;
          }
        }
      }
    }

    .question__right {
      @include prefix(.5rem);
      @include span(18 of 20 last);

      .author-and-date {
        .username {
          font-weight: bold;
          font-size: 1rem;
        }

        .created {
          color: #B9B9B9;
          font-size: 0.875rem;
        }
      }

      .drupal-version {
        &:before {
          @extend .fa;
          @extend .fa-drupal;
          margin-right: 0.6rem;
        }
      }

      .category {
        &:before {
          @extend .fa;
          @extend .fa-tags;
          margin-right: 0.5rem;
        }
      }
    }

    .question__bottom {
      @include full();
      margin-top: 1rem;
      border-top: 1px solid #EAEAEA;
    }
  }
}

/**
 * Answer node.
 */
.answer {
  // Teaser view
  &.teaser {
    @include full();
    border-bottom: 1px solid #EAEAEA;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    .answer__left {
      @include span(2 of 20);

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: #2ECC71;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: #F22613;
          }
        }

        .rate-plus,
        .rate-minus {
          color: #E2E2E2;
          font-size: 2.5rem;

          &.disabled:hover {
            color: #E2E2E2;
          }
        }
      }

      .flag-best-answer {
        text-align: center;
        font-size: 2.5rem;

        .flag-action {
          @extend .fa;
          @extend .fa-check;
          color: #E2E2E2;

          &:hover {
            color: #2ECC71;
          }
        }

        .unflag-action {
          @extend .fa;
          @extend .fa-check;
          color: #2ECC71;

          &:hover {
            color: #E2E2E2;
          }
        }
      }

      .best-answer {
        @extend .fa;
        @extend .fa-check;
        color: #2ECC71;
        text-align: center;
        font-size: 2.5rem;
        width: 100%; // firefox bug
      }
    }

    .answer__right {
      @include prefix(.5rem);
      @include span(18 of 20 last);

      .author-and-date {
        .username {
          font-weight: bold;
          font-size: 1rem;
        }

        .created {
          color: #B9B9B9;
          font-size: 0.875rem;
        }
      }
    }
  }
}

/**
 * Light comment style.
 */
.comment-light {
  @include full();
  border-top: 1px solid #EAEAEA;
  padding-top: 1rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;

  .comment-light__left {
    @include span(1 of 20);

    .avatar {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .comment-light__right {
    @include prefix(.25rem);
    @include span(19 of 20 last);

    .author-and-date {
      .username {
        font-weight: bold;
        font-size: 0.875rem !important;
      }

      .created {
        color: #B9B9B9;
        font-size: 0.875rem;
      }
    }
  }
}