/**
 * @file
 * Custom variables and overrides of existing.
 */

$theme-colors: (
  'primary': #FFB926,
  'secondary': #7BB7DB,
);
$colors: (
  'dark': #181818,
);

$grid-gap: 30px;
$link-color: #0077C0;

$font-family-sans-serif: 'Open Sans', sans-serif;

// Breadcrumbs.
$breadcrumb-bg: transprent;
$breadcrumb-padding-vertical: 0;
$breadcrumb-padding-horizontal: 0;
$breadcrumb-margin-bottom: 16px;
$breadcrumb-link-color: #616161;
