.select2-container--druio {
  /**
   * Base select style
   */
  .selection {
    @extend select;
    cursor: pointer;
    position: relative;

    .select2-selection--single  {
      padding-right: pxToRem(25px);
      &:before {
        @extend .fa;
        @extend .fa-caret-down;
        position: absolute;
        right: pxToRem(10px);
        top: 50%;
        transform: translateY(-50%);
      }
    }

    /**
     * Multiple.
     */
    .select2-selection--multiple {
      .select2-selection__rendered {
        box-sizing: border-box;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%; 
        min-width: pxToRem(150px);
      }

      .select2-selection__choice {
        display: inline-block;
        margin-right: pxToRem(5px);
        background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
        text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
        box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
        color: white;
        border-radius: 2px;
        padding-right: pxToRem(5px);
        border: 1px solid rgba(0, 0, 0, 0.2);
      }

      .select2-selection__choice__remove {
        border-right: 1px solid rgba(255, 255, 255, 0.18);
        padding-right: pxToRem(5px);
        padding-left: pxToRem(5px);
        margin-right: pxToRem(5px);
        cursor: pointer;

        &:hover {
          color: #333;
        }
      }

      .select2-search--inline {
        display: inline-block;

        .select2-search__field {
          margin: 0;
          padding: 0;
          border: none;
          box-shadow:none;
        }
      }
    }
  }

  .select2-dropdown {
    display: block;
    background: white;
    box-shadow: 0px 0px 7px 3px rgba(0, 0, 0, 0.1);
    border: 1px solid #b8b8b8;
    min-width: pxToRem(150px);
    &--above {
      margin-bottom: pxToRem(10px);
    }
    &--below {
      margin-top: pxToRem(10px);
    }

    .select2-search {
      display: block;
      margin: pxToRem(5px);
      .select2-search__field {
        width: 100%;
      }
    }

    .select2-results__options {
      margin: 0;
      padding: 0;
      list-style: none;

      .select2-results__option {
        padding: pxToRem(3px) pxToRem(10px);
        cursor: pointer;
        &:hover {
          background: #40b6ff;
          color: white;
        }
        &--highlighted,
        &[aria-selected="true"] {
          background: #40b6ff;
          color: white;
        }
      }
    }
  }
}
