/**
 * @file
 * Main styles. Here must be you stylesheet.
 * Use it well.
 */

body {
  background: url('../../images/bg.png') repeat;
}

.divider {
  width: 100%;
  clear: both;
}

#header {
  font-size: 0.875rem;
  background: $headerBackground;
  box-shadow: inset 0 2.5rem 0 0 rgba(0, 0, 0, 0.5);
}

.header__logo {
  height: 6.875rem;
  background: #fff;

  a {
    display: block;

    img {
      padding: .8rem;
      margin: 0 auto;
    }
  }
}

#site-search {
  position: relative;

  .form-search {
    height: 2.5rem;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: none;
    border: none;
    color: white;
    padding-left: 2.5rem;
    width: 100%;
    margin: 0;

    &:active {
      box-shadow: none;
      border: none;
    }
  }

  &:before {
    @extend .fa;
    @extend .fa-search;
    color: #D2D2D2;
    position: absolute;
    line-height: 2.5rem;
    left: 1rem;
  }
}

#header-links {

  position: relative;
  color: #cccccc;
  line-height: 2.5rem;
  padding: 0 1rem;

  .header__tracker {

    a {
      color: #CCC;
      &:before {
        @extend .fa;
        @extend .fa-bullhorn;
        color: white;
        margin-right: .25rem;
      }
    }

    &.new {
      &:after {
        content: attr(data-new-count);
        display: block;
        position: absolute;
        top: 4px;
        left: 5.5rem;
        line-height: 1;
        background: grey;
        padding: 0.1rem 0.2rem;
        border-radius: 2px;
        font-size: 0.7rem;
        color: #1b263b;
      }
    }
  }

  .header__github {

    display: block;
    color: #cccccc;

    &:before {
      @extend .fa;
      @extend .fa-github;
      margin-right: 0.25rem;
    }
  }
}

#header-profile {

  position: relative;
  background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.1);

  .header-profile__picture {
    position: absolute;
    width: 2.5rem;
  }

  .header-profile__auth {
    position: relative;
    margin-left: 3rem;
    line-height: 2.5rem;
    display: block;
    color: #D2D2D2;

    .icon {
      border-left: 1px solid rgba(255, 255, 255, 0.1);
      display: block;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 0 .75rem;

      &:before {
        @extend .fa;
        @extend .fa-sign-in;
      }
    }
  }

  .header-profile__profile {
    @extend .header-profile__auth;
  }

  .header-profile__logout {
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 0 .75rem;
    z-index: 1;
    line-height: 2.5rem;
    color: #D2D2D2;

    &:before {
      @extend .fa;
      @extend .fa-sign-out;
    }
  }
}

#navigation {
  .menu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 4.375rem;

    li {
      float: left;

      a {
        display: block;
        line-height: 4.375rem;
        color: white;
        padding: 0 .75rem;
        font-size: 1.1rem;
        transition: all .2s ease-out;
        &:hover {
          background-color: lighten($headerBackground, 10%);
        }
      }
    }
  }
}

#main {

  @include susy-clearfix;
  padding: 2rem 2.5rem;
  background: #ffffff;
}

#content {
  position: relative;
}

.frontpage #content {
  @include full();
}

#sidebar-right {

  .block {
    > .title {
      position: relative;
      border-top: 3px solid $colorShamrock;
      border-bottom: 3px solid $colorMercury;
      @include fontSize(18px);
      padding: 5px 0;
      font-weight: normal;

      &:after {
        display: block;
        content: '';
        width: pxToRem(15px);
        height: pxToRem(15px);
        background: white;
        transform: rotate(45deg);
        border: 3px solid $colorMercury;
        border-top: none;
        border-left: none;
        position: absolute;
        bottom: pxToRem(-10px);
        left: pxToRem(10px);
      }
    }
  }
}

#page-title {
  margin-top: 0;
}

.breadcrumb {
  font-size: 0.875rem;
  padding: 0.5rem 0;
  color: #969696;

  .first {
    &:before {
      @extend .fa;
      @extend .fa-home;
      margin-right: .25rem;
    }
  }

  a {
    color: #969696;
  }
}

/**
 * Question node.
 */
.question {
  // Full view
  &.full {
    @include full;

    .question__left {

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: $colorShamrock;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: $colorPomegranate;
          }
        }

        .rate-plus,
        .rate-minus {
          color: $colorMercury;
          font-size: 2.5rem;

          &.disabled:hover {
            color: $colorMercury;
          }
        }
      }
    }

    .question__right {

      .author-and-created {
        .username {
          font-weight: bold;
          color: $colorPickledBluewood;
          @include fontSize(15px);
        }

        .created {
          color: $colorBoulder;
          @include fontSize(14px);
        }
      }

      .drupal-version {
        &:before {
          @extend .fa;
          @extend .fa-drupal;
          margin-right: 0.6rem;
        }
      }

      .projects {
        &:before {
          @extend .fa;
          @extend .fa-cube;
          margin-right: pxToRem(4px);
        }
      }

      .category {
        &:before {
          @extend .fa;
          @extend .fa-tags;
          margin-right: 0.5rem;
        }
      }
    }

    .question__bottom {
      margin-top: 1rem;
      border-top: 1px solid $colorGallery;

      .node-answer-form {
        display: none;
      }

      #make-reply {
        font-size: 1.2rem;
      }

      .author-answer-form-info {
        @include fontSize(13px);
      }
    }

    .links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin-right: .5rem;

        a {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }
    }
  }

  &.teaser {
    @include susy-clearfix;
    margin-bottom: pxToRem(10px);
    padding-bottom: pxToRem(10px);
    border-bottom: 1px solid $colorGallery;

    .question__left {

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }
    }

    .question__right {

      .title {
        margin: 0 0 pxToRem(10px) 0;
        font-weight: normal;
        @include fontSize(17px);

        .has-answer {
          background: $colorShamrock;
          margin-right: .5rem;
          color: white;
          padding: 0 pxToRem(5px);
          border-radius: 2px;
          @include fontSize(12px);
          text-transform: uppercase;

          &:before {
            @extend .fa;
            @extend .fa-check;
            margin-right: .25rem;
          }
        }
      }
    }

    .question__bottom {
      @include fontSize(14px);

      .question__info {
        display: inline-block;
        padding: 0 0.8rem 0 0;
        &:before {
          @extend .fa;
          margin-right: .25rem;
        }

        a {
          color: $colorBoulder;
        }
      }

      .answers {
        &:before {
          @extend .fa-comments-o;
        }
      }

      .vote {
        &:before {
          @extend .fa-thumbs-o-up;
        }
        div {
          display: inline;
        }
      }
      .drupal {
        &:before {
          @extend .fa-drupal;
        }
        a:after {
          content: ", ";
        }
        a:last-child:after {
          content: "";
        }
      }
      .term {
        &:before {
          @extend .fa-tags;
        }
        a:after {
          content: ", ";
        }
        a:last-child:after {
          content: "";
        }
      }
      .project {
        &:before {
          @extend .fa-cube;
        }
      }
    }
  }
}


body.registered {
  .question {
    .question__right {
      > .links li a {
        @extend .button--submit;
        margin: 0.5rem 0 0.5rem;
        font-size: 0.875rem;
      }
    }
  }
}

/**
 * Answer node.
 */
.answer {
  // Teaser view
  &.teaser,
  &.full {
    @include full();
    border-bottom: 1px solid $colorGallery;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    .answer__left {

      .avatar {
        border-radius: 4px;
        overflow: hidden;
      }

      .rate-widget {
        text-align: center;
        font-size: 2rem;
        line-height: 1;
        margin: 0.5rem 0;
        color: #707070;

        .rate-plus {
          @extend .fa;
          @extend .fa-chevron-up;

          &.voted,
          &:hover {
            color: $colorShamrock;
          }
        }

        .rate-minus {
          @extend .fa;
          @extend .fa-chevron-down;

          &.voted,
          &:hover {
            color: $colorPomegranate;
          }
        }

        .rate-plus,
        .rate-minus {
          color: $colorMercury;
          font-size: 2.5rem;

          &.disabled:hover {
            color: $colorMercury;
          }
        }
      }

      .flag-best-answer {
        text-align: center;
        font-size: 2.5rem;

        .flag-action {
          @extend .fa;
          @extend .fa-check;
          color: $colorMercury;

          &:hover {
            color: $colorShamrock;
          }
        }

        .unflag-action {
          @extend .fa;
          @extend .fa-check;
          color: $colorShamrock;

          &:hover {
            color: $colorMercury;
          }
        }
      }

      .best-answer {
        @extend .fa;
        @extend .fa-check;
        color: $colorShamrock;
        text-align: center;
        font-size: 2.5rem;
        width: 100%; // firefox bug
      }
    }

    .answer__right {

      .author-and-created {
        .username {
          font-weight: bold;
          color: $colorPickledBluewood;
          @include fontSize(15px);
        }

        .created {
          color: $colorBoulder;
          @include fontSize(14px);
        }
      }
    }

    .links {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        float: left;
        margin-right: .5rem;

        a {
          color: $colorBoulder;
          font-size: 0.875rem;
        }
      }
    }
  }
}

/**
 * Light comment style.
 */
.comment-light {
  @include full();
  border-top: 1px solid $colorGallery;
  padding-top: 1rem;
  margin-top: 0.5rem;
  font-size: 0.875rem;

  &:hover {
    .links {
      opacity: 1;
      transition: all 200ms linear;
    }
  }

  .comment__left {
    .avatar {
      border-radius: 4px;
      overflow: hidden;
    }
  }

  .comment__right {
    position: relative;
    .author-and-created {
      .username {
        font-weight: bold;
        color: $colorPickledBluewood;
        @include fontSize(15px);
      }

      .created {
        color: $colorBoulder;
        @include fontSize(14px);
      }
    }
  }

  .links {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    opacity: 0;
    transition: all 200ms linear;
    @include fontSize(12px);

    li {
      float: left;
      margin-right: .5rem;

      a {
        color: $colorBoulder;
      }
    }
  }
}

/* Publications views */
.post {
  .post__footer {
    @include susy-clearfix;
    background: rgb(249, 249, 249);
    padding: 5px;
    border-radius: 2px;
    .rate-widget,
    .comment-count,
    .date,
    .avatar-and-author {
      float: left;
      margin-right: 1rem;
    }

    .rate-widget {
      .rate {
        background: $colorGallery;
        color: $colorBoulder;
        display: inline-block;
        padding: pxToRem(5px);
        border-radius: 2px;
        @extend .fa;
        @include fontSize(14px);

        &--minus {
          @extend .fa-arrow-down;

          &:hover:not(.disabled),
          &.voted {
            background: $colorPomegranate;
            color: white;
          }
        }

        &--plus {
          @extend .fa-arrow-up;

          &:hover:not(.disabled),
          &.voted {
            background: $colorShamrock;
            color: white;
          }
        }
      }

      .rate-result {
        display: inline-block;
        padding: 0 pxToRem(7px);
        font-weight: bold;

        &.good {
          color: $colorShamrock;
        }

        &.bad {
          color: $colorPomegranate;
        }
      }
    }

    .comment-count {

      color: $colorBoulder;
      @include fontSize(14px);
      line-height: pxToRem(24px);

      &:before {
        @extend .fa;
        @extend .fa-comments-o;
        margin-right: pxToRem(5px);
      }
    }

    .date {
      color: $colorBoulder;
      @include fontSize(14px);
      line-height: pxToRem(24px);

      &:before {
        @extend .fa;
        @extend .fa-calendar;
        margin-right: pxToRem(5px);
      }
    }

    .avatar-and-author {
      .avatar {
        display: inline-block;
        vertical-align: middle;
        overflow: hidden;
        height: pxToRem(24px);
        width: pxToRem(24px);
        border-radius: 50%;
        margin-right: pxToRem(5px);
      }

      .author {
        display: inline-block;
        vertical-align: middle;
        line-height: 1;
        @include fontSize(14px);
      }
    }
  }

}

.post.teaser {
  .post__content {
    .title {
      @include fontSize(24px);
    }
  }
}

.view.project-page.page {
  .content {
    @include susy-clearfix;
  }
}

.project.teaser {
  border-bottom: 1px solid #EAEAEA;
  margin-bottom: pxToRem(10px);
  padding: pxToRem(10px);

  .title {
    @include fontSize(16px);
    margin: 0 0 pxToRem(10px) 0;
  }

  .type,
  .dev-status,
  .maintenance-status,
  .version {
    @include fontSize(12px);

    &:before {
      @extend .fa;
      margin-right: pxToRem(5px);
    }
  }

  .type {
    &:before {
      @extend .fa-cubes;
    }
  }

  .dev-status {
    &:before {
      @extend .fa-keyboard-o;
    }
  }

  .maintenance-status {
    &:before {
      @extend .fa-life-ring;
    }
  }

  .version {
    &:before {
      @extend .fa-drupal;
    }
  }
}

#footer {
  background-color: $colorLightGrey;
  font-size: 0.875rem;
  padding: 1rem;

}

#frontpage-top {
  position: relative;
  background: #fff url('http://drupal.com/themes/drupalcom/images/parallax/homepage-header/full-screen.jpg') no-repeat;
  background-size: cover;
  border-bottom: 1px solid rgba(0, 0, 0, 0.04);

  .left {
    padding: 2rem 2.5rem;

    .welcome {
      margin: 0;
      text-align: center;
    }

    .community {
      margin: 0px;
      text-align: center;
      font-weight: 400;
      color: grey;
      @include fontSize(17px);
    }
  }

  .right {
    padding: 2rem 2.5rem;

  }
}

#frontpage-latest {
  .view {
    .header {
      .title {
        margin-top: 0;
      }
    }
  }
}

.post.frontpage {
  padding-left: pxToRem(25px);
  position: relative;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: pxToRem(5px);
  margin-bottom: pxToRem(5px);

  &:before {
    @extend .fa;
    @extend .fa-file-text-o;
    position: absolute;
    top: pxToRem(5px);
    left: 0;
  }

  .title {
    margin: 0;
    @include fontSize(16px);
    line-height: pxToRem(27px);
    font-weight: normal;

    a {
      color: $baseFontColor;
    }
  }
}

.question.frontpage {
  padding-left: pxToRem(25px);
  position: relative;
  border-bottom: 1px solid #ECECEC;
  padding-bottom: pxToRem(5px);
  margin-bottom: pxToRem(5px);

  &:before {
    @extend .fa;
    @extend .fa-question;
    position: absolute;
    top: pxToRem(5px);
    left: 0;
  }

  .title {
    margin: 0;
    @include fontSize(16px);
    line-height: pxToRem(27px);
    font-weight: normal;

    a {
      color: $baseFontColor;
      display: block;
    }
  }
}

.project.full {
  @include susy-clearfix;

  .project__first {
    .drupalorg-link {
      font-weight: bold;
      a {
        color: $baseFontColor;
        border-bottom: 1px dashed $baseFontColor;
      }
      &:before {
        @extend .fa;
        @extend .fa-drupal;
        margin-right: pxToRem(10px);
      }
    }

    .type,
    .dev-status,
    .maintenance-status,
    .version {
      &:before {
        @extend .fa;
        margin-right: pxToRem(5px);
        display: inline-block;
        width: pxToRem(20px);
      }
    }

    .type {
      &:before {
        @extend .fa-cubes;
      }
    }

    .dev-status {
      &:before {
        @extend .fa-keyboard-o;
      }
    }

    .maintenance-status {
      &:before {
        @extend .fa-life-ring;
      }
    }

    .version {
      &:before {
        @extend .fa-drupal;
      }
    }
  }

  .project__second {
    .project-questions {
      > .title {
        margin: 0 0 pxToRem(10px) 0;
        @include fontSize(18px);
        border-bottom: 1px solid #e8e8e8;
      }
    }
  }
}

.block.block-facetapi {
  .facetapi-facetapi-checkbox-links {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.add-content-button {
  display: block;
  border: none;
  text-align: center;
  color: white !important;
  font-weight: 400;
  padding: .3rem;
  border-radius: 3px;
  font-size: 1rem;
  margin-bottom: 1rem;
  box-shadow: none;
}

.add-content-button:hover {
  color: white;
  box-shadow: none;
}

.add-content-button.question {
  background: #34495e;
}

.add-content-button.post {
  background: #1abc9c;
}

.add-content-button.project {
  background: #3498db;
}

.bue-ui {
  background: rgb(249, 249, 249);
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  border-radius: 2px 2px 0 0;
  margin-bottom: -3px;
  position: relative;
  padding: 0;
  .bue-button {
    padding: 0;
    margin: pxToRem(6px);
    border: none;
    background: transparent;
    transform: scale(1);
    transition: all 200ms linear;

    &:hover {
      transform: scale(1.3);
      transition: all 200ms linear;
    }
  }
}

#druio-projects-download-form {
  margin: pxToRem(10px) 0;
  padding: pxToRem(10px);
  border: 1px solid #E7E7E7;
  border-radius: 2px;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.03);

  .form-item-release-selector {
    margin: 0;
  }

  .archives {
    .title {
      margin-top: pxToRem(7px);
      @include fontSize(17px);
      border-bottom: 1px solid rgb(232, 232, 232);
      padding-bottom: pxToRem(5px);

      &:before {
        @extend .fa;
        @extend .fa-cloud-download;
        margin-right: pxToRem(5px);
      }
    }

    .list {
      @include susy-clearfix;
      .item {
        @include fontSize(12px);
        display: block;
        @include gallery(2 of 4);
        color: $baseFontColor;

        .item-label {
          font-weight: bold;
          @include fontSize(16px);
        }

        .label {
          font-weight: bold;
        }

        .md5 {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }

  .drush {
    @include fontSize(14px);
    .title {
      margin-top: pxToRem(7px);
      @include fontSize(17px);
      border-bottom: 1px solid rgb(232, 232, 232);
      padding-bottom: pxToRem(5px);

      &:before {
        @extend .fa;
        @extend .fa-terminal;
        margin-right: pxToRem(5px);
      }
    }
  }
}

.hljs {
  background: white;
  @include fontSize(12px);
  border-left: 4px solid rgba(0,39,59,.5);
  padding: 0 0 0 pxToRem(12px);
}
