@include breakpoint(max-width $phone) {

  /* Hide elements */

  body {
    background: #fff;
  }

  #main,
  #frontpage-top .left,
  #frontpage-top .right {
    padding: 1rem;
  }

  #header {
    background: transparent;
  }

  .header__firstline {
    background: $headerBackground;
  }

  #frontpage-top,
  #site-search,
  #header-links,
  #block-views-question-nodes-last-questions,
  #admin-menu {
    display: none;
  }

  .header__logo {
    a {
      text-align: center;
      img {
        display: inline;
      }
    }
  }
}