/**
 * @file
 * Main styles.
 * Use it well.
 */

@include border-box-sizing();

#header {
  font-size: 0.875rem;
  background: $brand-color-1;
  box-shadow: inset 0 pxtorem(40px) 0 0 rgba(black, 0.5);
  .pane {
    .logo {
      background: white;
      padding: pxtorem(10px) pxtorem(20px);
    }
    .content {
      // Top line of the header. Which is darker :)
      .top {
        @include susy-clearfix;
        height: pxtorem(40px);
        color: $gray-lighter;
        .search-form {
          width: pxtorem(240px);
          float: left;
          position: relative;
          .search-input {
            height: pxtorem(40px);
            width: 100%;
            border-radius: 0;
            background: rgba(white, 0.1);
            box-shadow: none;
            border: none;
            color: #FFF;
            padding-left: pxtorem(40px);
            margin: 0;
          }
          &:before {
            @extend .fa;
            @extend .fa-search;
            position: absolute;
            left: pxtorem(14px);
            line-height: pxtorem(40px);
          }
        }

        // Header links.
        .header-links {
          .link {
            position: relative;
            display: block;
            float: left;
            line-height: pxtorem(40px);
            color: $gray-lighter;
            padding: 0 pxtorem($padding-large-vertical);
            background: transparent;
            transition: all 400ms;
            &:hover {
              background: rgba(black, .2);
              transition: all 400ms;
            }
            &.tracker, &.github {
              padding-left: pxtorem($padding-large-vertical * 3.5);
              &:before {
                position: absolute;
                left: 0;
                line-height: pxtorem(40px);
                @extend .fa;
                width: pxtorem($padding-large-vertical * 3.5);
                text-align: center;
              }
            }
            &.tracker {
              &:before {
                @extend .fa-bell-o;
              }
              &.new {
                &:before {
                  @extend .fa-bell;
                  @include swing(
                  $duration: 2s,
                  $count: infinite
                  );
                }
              }
            }
            &.github:before {
              @extend .fa-github;
            }
          }
        }

        // Anonymous links.
        .header-auth-anon {
          float: right;
          .link {
            display: block;
            float: left;
            line-height: pxtorem(40px);
            padding: 0 pxtorem($padding-large-vertical * 2);
            color: white;
            font-weight: bold;
            &.sign-up {
              background: $brand-color-2;
            }
          }
        }

        // Auth user.
        .header-auth-user {
          float: right;
          .picture {
            float: left;
          }
          .username {
            display: block;
            float: left;
            width: pxtorem(140px);
            padding: 0 pxtorem($padding-large-vertical);
            line-height: pxtorem(40px);
            color: white;
            font-weight: bold;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .logout {
            float: left;
            display: block;
            line-height: pxtorem(40px);
            width: pxtorem(40px);
            color: white;
            text-align: center;
            background: rgba(white, .2);
            &:before {
              @extend .fa;
              @extend .fa-sign-out;
              margin-left: pxtorem(7px);
            }
          }
        }
      }
    }
  }
}

#navigation {
  .menu {
    @include susy-clearfix;
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      float: left;
      a {
        display: block;
        line-height: pxtorem(76px);
        padding: 0 pxtorem($padding-base-vertical * 2);
        color: white;
        @include font-size(18px);
        background: transparent;
        transition: all 500ms;
        &:hover {
          background: rgba(black, .25);
          transition: all 500ms;
        }
      }
    }
  }
}

#main {
  background: white;
  padding: pxtorem(20px);
}

.facetapi-facetapi-checkbox-links  {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar {
  > .block {
    margin-bottom: pxtorem(20px);
    > .title {
      margin-top: 0;
      @include font-size(20px);
    }
  }
}

.question-teaser {
  border-bottom: 1px solid $hr-border;
  padding-bottom: pxtorem($padding-large-vertical);
  margin-bottom: pxtorem($padding-large-vertical);
  .info {
    cursor: pointer;
    text-align: center;
    @include font-size(17px);
    .rating, .answers {
      padding: pxtorem(6px);
      .label {
        @include font-size(13.5px);
      }
    }
    .answers {
      color: $brand-color-2;
      &.has-best {
        background: $brand-color-3;
      }
      &.no-answers {
        color: $text-color;
      }
    }
  }
  .right {
    .title {
      margin-top: 0;
      @include font-size(18px);
    }
    .tags {
      float: left;
      line-height: pxtorem(14px);
      .tag {
        display: inline-block;
        background: #f8f8f8;
        border: 1px solid #ececec;
        color: #707070;
        white-space: nowrap;
        margin: pxtorem(2px) pxtorem(2px) pxtorem(2px) 0;
        padding: pxtorem(4px);
        @include font-size(11px);
        &:before {
          @extend .fa;
          margin-right: pxtorem(4px);
        }
        &.core:before {
          @extend .fa-drupal;
        }
        &.category:before {
          @extend .fa-tag;
        }
        &.project:before {
          @extend .fa-cubes;
        }
      }
    }
    .created {
      float: right;
      @include font-size(12px);
      padding-top: pxtorem(4px);
      color: #707070;
    }
  }
}

.question-full {
  > .left {
    .rate-widget {
      text-align: center;
      @include font-size(30px);
      line-height: 1;
      margin: 0;
      color: $text-color;
      .rate-plus {
        @extend .fa;
        @extend .fa-chevron-up;
        &.voted,
        &:hover {
          color: $brand-color-1;
        }
      }
      .rate-minus {
        @extend .fa;
        @extend .fa-chevron-down;
        &.voted,
        &:hover {
          color: $brand-color-1;
        }
      }
      .rate-plus,
      .rate-minus {
        color: $gray-lighter;
        font-size: 2.5rem;
        &.disabled:hover {
          color: $gray-lighter;
        }
      }
    }
  }
  > .right {
    .tags {
      line-height: pxtorem(14px);
      .tag {
        display: inline-block;
        background: #f8f8f8;
        border: 1px solid #ececec;
        color: #707070;
        white-space: nowrap;
        margin: pxtorem(2px) pxtorem(2px) pxtorem(2px) 0;
        padding: pxtorem(4px);
        @include font-size(11px);
        &:before {
          @extend .fa;
          margin-right: pxtorem(4px);
        }
        &.core:before {
          @extend .fa-drupal;
        }
        &.category:before {
          @extend .fa-tag;
        }
        &.project:before {
          @extend .fa-cubes;
        }
      }
    }
    .bottom {
      .signature {
        padding: pxtorem(5px);
        background: lighten($brand-color-1, 55%);
        float: right;
        width: pxtorem(200px);
        @include font-size(12px);
        line-height: $line-height-small;
        .user {
          margin-top: pxtorem(5px);
          @include susy-clearfix;
          .picture {
            display: block;
            width: pxtorem(32px);
            float: left;
            margin-top: pxtorem(2px);
          }
          .info {
            float: left;
            margin-left: pxtorem(6px);
            .rating {
              &:before {
                @extend .fa;
                @extend .fa-bar-chart;
                margin-right: pxtorem(4px);
              }
            }
          }
        }
      }
    }
  }
  .node-answer-form {
    display: none;
  }
}