$table-cell-padding: .75rem !default;
$table-condensed-cell-padding: 5px !default;
$table-bg: transparent !default;
$table-bg-accent: #f9f9f9 !default;
$table-bg-hover: #f5f5f5 !default;
$table-bg-active: $table-bg-hover !default;
$table-border-color: #e9ecef !default;
