$contextual-links-bg:            white !default;
$contextual-links-border:        1px solid #ddd !default;
$contextual-links-border-radius: 4px 0 4px 4px !default;
$contextual-links-hover-bg:      #f2f2f2 !default;
$contextual-links-color:         inherit !default;
$contextual-links-box-shadow:    0 5px 10px 0 rgba(black, .2) !default;