/**
 * @file
 * Button styles.
 */

/**
 * Default styles and resets for all buttons used as base for all others.
 */
input[type="submit"],
input[type="button"],
input[type="reset"],
button,
.btn {
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  font-weight: $btn-font-weight;
  height: $input-height-base;
  padding: $padding-base-vertical $padding-base-horizontal;
  line-height: $line-height-base;
  border-radius: $border-radius-small;
  color: $btn-default-color;
  background: $btn-default-bg;
  border: 1px solid $btn-default-border;
  box-sizing: border-box;
  border-radius: $border-radius-small;
  text-align: center;
}

/**
 * Default button style.
 */
input[type="button"],
button,
.btn {
  @extend .btn;
  transition: all 200ms;
  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active {
    background: #f4f4f4;
    border-color: #729fcf;
    transition: all 200ms;
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}

/**
 * Submit and primary button style.
 */
input[type="submit"],
.btn-primary {
  @extend .btn;
  background: $btn-primary-bg;
  color: $btn-primary-color;
  border: 1px solid $btn-primary-border;

  &:hover,
  &:focus {
    background: darken($btn-primary-bg, 5%);
    color: $btn-primary-color;
    text-decoration: none;
  }

  &:active {
    background: darken($btn-primary-bg, 5%);
    color: $btn-primary-color;
    text-decoration: none;
    box-shadow: inset 0 4px 3px 0 rgba(black, 0.2);
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}

/**
 * Warning and preview buttons style.
 */
.btn-warning,
#edit-preview {
  @extend .btn;
  background: $btn-warning-bg;
  color: $btn-warning-color;
  border: 1px solid $btn-warning-border;

  &:hover,
  &:focus {
    background: darken($btn-warning-bg, 5%);
    color: $btn-warning-color;
    text-decoration: none;
  }

  &:active {
    background: darken($btn-warning-bg, 5%);
    color: $btn-warning-color;
    text-decoration: none;
    box-shadow: inset 0 4px 3px 0 rgba(black, 0.2);
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}

/**
 * Danger and delete button style.
 */
.btn-danger,
#edit-delete {
  @extend .btn;
  background: $btn-danger-bg;
  color: $btn-danger-color;
  border: 1px solid $btn-danger-border;

  &:hover,
  &:focus {
    background: darken($btn-danger-bg, 5%);
    color: $btn-danger-color;
    text-decoration: none;
  }

  &:active {
    background: darken($btn-danger-bg, 5%);
    color: $btn-danger-color;
    text-decoration: none;
    box-shadow: inset 0 4px 3px 0 rgba(black, 0.2);
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}

/**
 * Success button style.
 */
.btn-success {
  @extend .btn;
  background: $btn-success-bg;
  color: $btn-success-color;
  border: 1px solid $btn-success-border;

  &:hover,
  &:focus {
    background: darken($btn-success-bg, 5%);
    color: $btn-success-color;
    text-decoration: none;
  }

  &:active {
    background: darken($btn-success-bg, 5%);
    color: $btn-success-color;
    text-decoration: none;
    box-shadow: inset 0 4px 3px 0 rgba(black, 0.2);
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}

/**
 * Info button style.
 */
.btn-info {
  @extend .btn;
  background: $btn-info-bg;
  color: $btn-info-color;
  border: 1px solid $btn-info-border;

  &:hover,
  &:focus {
    background: darken($btn-info-bg, 5%);
    color: $btn-info-color;
    text-decoration: none;
  }

  &:active {
    background: darken($btn-info-bg, 5%);
    color: $btn-info-color;
    text-decoration: none;
    box-shadow: inset 0 4px 3px 0 rgba(black, 0.2);
  }

  &.disabled,
  &[disabled],
  &:disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.7;
  }
}
