/**
 * Tables style.
 */
table {
  width: 100%;
  background: #fff;
  margin: 1em 0;
  border: 1px solid #d0d0d0;
  box-shadow: none;
  color: $text-color;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    tr {
      th {
        cursor: auto;
        text-align: left;
        color: rgba(0,0,0,.8);
        padding: .7em .8em;
        vertical-align: middle;
        font-weight: 700;
        text-transform: none;
        border-bottom: 2px solid #ddd;
        border-left: none;

        &:first-child {
          border-top-left-radius: .25rem;
        }

        &:last-child {
          border-top-right-radius: .25rem;
        }
      }
    }
  }

  tbody {
    tr {
      td {
        padding: .7em .8em;
        text-align: left;
        vertical-align: middle;
        border-top: 1px solid #d4d4d5;
      }

      &:first-child {
        td {
          border-top: none;
        }
      }
    }
  }

  &.table-striped {
    > tbody {
      > tr:nth-of-type(2n+1) {
        background-color: #F9F9F9;
      }
    }
  }
}
