:focus {
  outline: $focus-outline-width $focus-outline-style $focus-outline-color;
}

::selection {
  background: $selection-bg;
  color: $selection-color;
}

body {
  background: $body-bg;
}

// Fix whitespace under image.
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom;
}