/**
Synapse - adaptive theme
.col-xs- <544px Extra small
.col-sm- ≥544px Small
.col-md- ≥768px Medium
.col-lg- ≥992px Large
.col-xl- ≥1200px Extra large
Gutter width	1.875rem / 30px (15px on each side of a column)
*/
.footer {
  background: #313132;
  color: #eeeeee;
  font-size: 0.84375rem;
  padding: 0.625rem 0;

  a {
    color: #FFF;
    text-decoration: underline;
  }

  .social {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1.125rem;

    li {
        float: left;
        margin-right: 0.75rem;
    }

  }

}
