/**
 * Button style generator.
 */
@mixin button-variant($color, $background, $border: transparent) {
  @extend %button;
  $active-background: darken($background, 10%);
  $active-border: darken($border, 12%);

  color: $color;
  background-color: $background;
  background-image: none;
  border-color: $border;
  transition: all .15s ease-in-out;
  @if ($btn-enable-shadows) {
    box-shadow: $btn-box-shadow;
  }

  &:focus,
  &:hover {
    color: $color;
    background-color: $active-background;
    border-color: $active-border;
  }

  &:focus {
    outline: none;
    @if ($btn-enable-shadows) {
      box-shadow: 0 0 0 3px rgba($background, .5);
    }
  }

  &:disabled {
    background-color: $background;
    border-color: $border;
    opacity: .65;
  }

  &:active {
    color: $color;
    background-color: $active-background;
    background-image: none;
    border-color: $active-border;
    @if ($btn-enable-shadows) {
      box-shadow: 0 0 0 3px rgba($background, .5);
    }
  }
}

/**
 * Outline button variant.
 */
@mixin button-outline-variant($color, $color-hover: #fff) {
  @extend %button;
  color: $color;
  background-color: transparent;
  background-image: none;
  border-color: $color;
  box-shadow: none;
  transition: all .15s ease-in-out;

  &:hover,
  &:focus {
    color: $color-hover;
    background-color: $color;
    border-color: $color;
  }

  &:focus {
    @if ($btn-enable-shadows) {
      box-shadow: 0 0 0 3px rgba($color, .5);
    }
  }

  &:disabled {
    color: $color;
    background-color: transparent;
    opacity: .65;
  }
}
