/**
 * @file
 * Input styles.
 */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="search"],
input[type="tel"],
input[type="url"],
input[type="number"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[autofocus],
input[required],
textarea,
select {
  background: #fcfcfa;
  padding: 0.45em 0.6em;
  display: inline-block;
  border: 1px solid #b8b8b8;
  border-top-color: #999;
  border-radius: 2px;
  box-sizing: border-box;
  max-width: 100%;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  margin: pxToRem(5px) 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;

  &.error {
    border-color: #e74c3c;
  }

  &:focus {
    outline: medium none;
    border-color: #40b6ff;
    box-shadow: 0px 0px 8px 0px #40b6ff, inset 0 1px 3px rgba(0,0,0,.05);
    background: white;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }

  &:disabled {
    cursor: not-allowed;
    background: rgb(250, 250, 250);
    font-size: 100%;
    color: rgba(163, 163, 163, 1);
    text-shadow: none;
  }
}
