<div class="druio-theme-top-line-search">
  <div class="search-input-pane">
    <input class="input" type="text" autocomplete="false" placeholder="Поиск">
    <span class="icon"></span>
  </div>
</div>
