/**
 * @file
 * Pager styles.
 */
.pager {
  margin: 0px auto;
  padding: 0px;
  list-style: none outside none;
  display: table;
  color: #444;

  li {
    float: left;
    margin: 0 5px;
  }

  .pager-item {
    border: 3px solid #D8D5D5;
    padding: 0px 0.5rem;
    border-radius: 5px;
    background: #F8F8F8;

    a {
      color: #444;
      text-decoration: none;
      border: none;
    }
  }

  .pager-current {
    border: 3px solid #B9B9B9;
    padding: 0px 0.5rem;
    border-radius: 5px;
    font-weight: bold;
  }

  .pager-next a,
  .pager-last a,
  .pager-first a,
  .pager-previous a {
    text-decoration: none;
    border: none;
    font-weight: bold;
  }
}
