/**
 * @file
 * Custom normalize styles.
 */

// Disable Mozilla's border.
:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}

// Fix whitespace under image. 
img {
  max-width: 100%;
  height: auto;
  display: block;
  vertical-align: bottom;
}

label {
  display: block;
  font-weight: bold;
  margin: 0 0 0.1rem 0;

  &.option {
    font-weight: normal;
    display: inline;
  }
}

.form-item {
  margin: 0.75rem 0;
}
