$breadcrumb-padding-vertical:   8px !default;
$breadcrumb-padding-horizontal: 16px !default;
$breadcrumb-margin-bottom:      10px !default;
$breadcrumb-bg:                 #f5f5f5 !default;
$breadcrumb-delimiter-content:  '/' !default;
$breadcrumb-delimiter-color:    #ccc !default;
$breadcrumb-link-color:         $link-color !default;
$breadcrumb-link-border-enable: false !default;
$breadcrumb-link-border-color:  rgba($link-color, .5) !default;
$breadcrumb-font-size:          $font-size-base !default;

.breadcrumbs {
  background: $breadcrumb-bg;
  padding: $breadcrumb-padding-vertical $breadcrumb-padding-horizontal;
  margin-bottom: $breadcrumb-margin-bottom;
  border-radius: $border-radius-base;
  font-size: $breadcrumb-font-size;

  .delimiter {
    color: $breadcrumb-delimiter-color;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      &:not(:last-child) {
        &:after {
          content: $breadcrumb-delimiter-content;
          display: inline-block;
          color: $breadcrumb-delimiter-color;
        }
      }

      a {
        color: $breadcrumb-link-color;

        @if ($breadcrumb-link-border-enable) {
          border-bottom: 1px solid $breadcrumb-link-border-color;
        }

        &:hover {
          color: darken($breadcrumb-link-color, 10%);

          @if ($breadcrumb-link-border-enable) {
            border-color: darken($breadcrumb-link-border-color, 12%);
          }
        }
      }
    }
  }
}
