/**
 * @file
 *
 * LG media query styles.
 */

@include breakpoint($lg-media) {
  // -16px - this is for scrollbar size.
  // If we don't do this, on ~1190px browser width we get vertical scrollbars.
  $site-width: 1200px - 16px;

  #header {
    .pane {
      @include container($site-width);
      .logo {
        width: pxtorem(190px);
        float: left;
      }
      .content {
        margin-left: 190px;
      }
    }
  }

  #main {
    @include container($site-width);
    @include susy-clearfix;
  }

  #content {
    @include span(9);
    .no-sidebars & {
      @include full();
    }
  }

  #sidebar {
    @include span(3 last);
  }

  .question-teaser {
    @include susy-clearfix;
    .info {
      @include span(2);
      @include susy-clearfix;
      .rating {
        @include span(6);
      }
      .answers {
        @include span(6 last);
      }
    }
    .right {
      @include span(10 last);
    }
  }

  .question-full {
    @include susy-clearfix;
    > .left {
      @include span(1);
    }
    > .right {
      @include span(11 last);
    }
  }

  .answer-teaser {
    @include susy-clearfix;
    > .left {
      @include span(1);
    }
    > .right {
      @include span(11 last);
    }
  }

  .event-teaser,
  .event-full {
    @include susy-clearfix;
    .left {
      @include span(3);
    }
    .right {
      @include span(9 last);
    }
  }
}
