/**
 * @file
 *
 * XS media query styles.
 */

@include breakpoint($xs-media) {
  #header .pane .content .top .header-links,
  #header .pane .content {
    @include susy-clearfix;
  }
  .comment-full {
    @include susy-clearfix;
    > .left {
      @include span(1);
    }
    > .right {
      @include span(11 last);
    }
  }
  .question-full {
    position: relative;
    .content-pane {
      @include susy-clearfix;
      position: relative;
      > .left {
        @include span(2);
      }
      > .right {
        @include span(10 last);
      }
    }
  }
  .answer-teaser {
    position: relative;
    @include susy-clearfix;
    > .left {
      @include span(2);
    }
    > .right {
      @include span(10 last);
    }
  }
}
