.header {
  &-info {
      border-bottom: #777 solid 1px;
      &__inner {
          padding: 10px 0;
      }
  }
  &-small {
    &__inner {
        padding: 5px 0 0;
    }
    .logo-small {
      img {
        height: 41px;
        margin-bottom: 5px;
      }
    }
  }
}
