#small-menu {
  .menu-item {
    text-align: center;
  }
  .classic-menu-dropdown {
    .menu {
      position: static;
      float: none;
      display: none;
      border-radius: 0;
    }
    & > .menu-item {
      overflow: hidden;
    }
    & > a {
      display: block;
      max-width: calc(100% - 50px);
      margin: 0 auto;
    }
    .menu-dropdown-trigger {
      position: absolute;
      top: 0;
      right: 0;
      width: 30px;
      max-height: 100%;
      font-size: 21px;
      display: block;
      text-align: center;
      padding: 7px 0;
      cursor: pointer;
    }
  }
  .menu-item--is-open {
    background-color: #0188ca;
    & > .menu-dropdown-trigger,
    & > a {
      color: #fff;
    }
    & > .menu-dropdown-trigger {
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
    }
  }
}
