.nav-togglers {
  padding-top: 0;
}
.nav-toggler {
  position: relative;
  width: 44px;
  height: 40px;
  padding: 0;
  overflow: hidden;
  border-radius: 4px;
  border: 2px solid #0188ca;
  margin-left: 6px;
  color: #0188ca;
  background: none;
  &:focus {
    outline: none;
  }
  .icon-bar {
    position: absolute;
    height: 3px;
    background-color: #0188ca;
    display: block;
    border-radius: 1px;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    & + .icon-bar {
      margin-top: 0;
    }
    &-top {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
    }
    &-bottom {
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
    }
  }
  &.collapsed {
    color: #444;
    border-color: #666;
    .icon-bar {
      background-color: #666;
    }
  }
}
.nav-menu {
  .icon-bar {
    left: 5px;
    top: 17px;
    width: 30px;
    &-middle {
      opacity: 0;
      left: -30px;
      top: 17px;
    }
  }
  &.collapsed {
    .icon-bar {
      &-top {
        top: 8px;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
      }
      &-middle {
        opacity: 1;
        left: 5px;
      }
      &-bottom {
        top: 26px;
        transform: rotate(0);
        -webkit-transform: rotate(0);
        -moz-transform: rotate(0);
      }
    }
  }
}
/** Info */
.nav-info {
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  &.collapsed {
    width: 41px;
  }
  .icon-bar {
    left: 3px;
    top: 17px;
    width: 30px;
  }
  &.collapsed {
    .icon-bar {
      &-top {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        top: 8px;
        width: 3px;
        left: 17px;
      }
      &-bottom {
        transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        top: 20px;
        width: 15px;
        left: 11px;
      }
    }
  }
}
